@font-face {
  font-family: "utm_bryantlgregular";
  src: url(../assets/fonts/utm_bryantlg-webfont.woff2) format("woff2"),
    url(../assets/fonts/utm_bryantlg-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

$font_Open_Sans: "Open Sans", sans-serif;
$background_color_header_in_768px: #fefbfb; 
$text_navbar_color: #505353;
$button_color: #B2D235;
