@font-face {
  font-family: "utm_bryantlgregular";
  src: url(../assets/fonts/utm_bryantlg-webfont.woff2) format("woff2"),
    url(../assets/fonts/utm_bryantlg-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

$font_Open_Sans: "Open Sans", sans-serif;
$font_UTM_BryantLG: "utm_bryantlgregular";
$background_color_header_in_768px: #fefbfb; 
$text_navbar_color: #505353;
$button_color: #B2D235;
$white_color: #ffffff;
$hapo_learn_title_bold_text_color: #11114E;
$hapo_learn_quote: #505353;
$hapo_learn_button_shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
$hapo_learn_button_text_hover: #11114E;
$hapo_learn_linear-gradient_color: #f8f8f8 ;
